
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.navbar {
  margin-bottom: 0 !important;
}

.welcome-header {
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  border-bottom: 0;
  margin-top: 0 !important;
}

.container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: white;
}