

@import "~datatables.net-bs/css/dataTables.bootstrap.css";


a.ctrlPanel#deleteDB  {
  color: #d9534f;

  &:hover {
    color: #bf5e59;
  }
}

a.ctrlPanel#editDB  {
  color: #f0ad4e;

  &:hover {
    color: #d6954c;
  }
}

a.ctrlPanel#gotoTbl  {
  color: #5cb85c;

  &:hover {
    color: #519e51;
  }
}

a.ctrlPanel#DBcache  {
  color: #5bc0de;

  &:hover {
    color: #5ba5c4;
  }
}

table#DataBaseAllLists > tbody > tr > td:nth-child(5){
  text-align: center
}

